{% extends 'productinfo/base.html' %}

{% block title %}
    CartItem List
{% endblock %}

{% block content %}
    <h2>CartItem List</h2>
    <div>
    <a href="{% url 'productinfo_cartitem_create_urlpattern' %}">
        Create New CartItem
    </a>
    </div>
    <ul>
        {% for cartitem in cartitem_list %}
        <li>
            <a href="{{ cartitem.get_absolute_url }}">{{ cartitem }}</a>
        </li>
        {% empty %}
        <li><em>There are currently no items in the shopping cart available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}