{% extends 'productinfo/base.html' %}

{% block title %}
    Cart Item - {{ cart_item }}
{% endblock %}

{% block content %}
    <h2>{{ cart_item }}</h2>
    <ul class="inline">
        {% if perms.productinfo.change_cart_item %}
        <li>
            <a href="{{ cart_item.get_update_url }}" class="button button-primary">
                Edit CartItem</a></li>
        {% endif %}
        {% if perms.productinfo.delete_cart_item %}
        <li><a href="{{ cart_item.get_delete_url }}" class="button button-primary">
                Delete CartItem</a></li>
        {% endif %}
    </ul>
    <section>
        <table>
            <tr>
                <th>Cart ID:</th>
                <td>{{ cart_id }}</td>
            </tr>
            <tr>
                <th>Quantity:</th>
                <td>{{ cart_item.quantity }}</td>
            </tr>
            <tr>
                <th>product name:</th>
                <td><a href="{{ product_id.get_absolute_url}}">{{ product_id }}</a></td>
            </tr>

            <tr>
                <th>product subtotal:</th>
                <td>{{ sub_total }}</td>
            </tr>

        </table>
    </section>

{% endblock %}
