{% extends 'productinfo/base.html' %}

{% block title %}
    Cart Item - {{ cartitem }}
{% endblock %}

{% block content %}
    <h2>{{ cartitem }}</h2>
    <ul>
        <li>
            <a href="{{ cartitem.get_update_url }}">
                Edit CartItem</a></li>
    </ul>
    <section>
        <table>
            <tr>
                <th>Cart ID:</th>
                <td>{{ cart_id }}</td>
            </tr>
            <tr>
                <th>Quantity:</th>
                <td>{{ cartitem.quantity }}</td>
            </tr>
            <tr>
                <th>product name:</th>
                <td><a href="{{ product_id.get_absolute_url}}">{{ product_id }}</a></td>
            </tr>

        </table>
    </section>

{% endblock %}
