{% extends 'productinfo/base.html' %}

{% block title %}
    Customer List
{% endblock %}

{% block content %}
    <h2>Customer List</h2>
    <div>
    {% if perms.productinfo.add_customer %}
    <a href="{% url 'productinfo_customer_create_urlpattern' %}" class="button button-primary">
        Create New Customer
    </a>
    {% endif %}
    </div>
    <ul>
        {% for customer in customer_list %}
        <li>
            <a href="{{ customer.get_absolute_url }}">{{ customer }}</a>
        </li>
        {% empty %}
        <li><em>There are currently no customers available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}