{% extends 'productinfo/base.html' %}

{% block title %}
    Order - {{ order }}
{% endblock %}

{% block content %}
    <h2>{{ order }}</h2>
    <ul class="inline">
    {% if perms.productinfo.change_order %}
        <li>
            <a href="{{ order.get_update_url }}" class="button button-primary">
                Edit Order</a></li>
        {% endif %}
    {% if perms.productinfo.delete_order %}
    <li><a href="{{ order.get_delete_url }}" class="button button-primary" >Delete Order</a></li>
    {% endif %}
    </ul>
    <section>
        <table>
            <tr>
                <th>Order:</th>
                <td>{{ order.order_id }}</td>
            </tr>
            <tr>
                <th>User:</th>
                <td><a href="{{ customer_id.get_absolute_url}}">{{ customer_id }}</a></td>
            </tr>
            <tr>
                <th>Price:</th>
                <td>{{ total }}</td>
            </tr>
            <tr>
                <th>Order Date:</th>
                <td>{{ order.order_date }}</td>
            </tr>
            <tr>
                <th>Receiver:</th>
                <td>{{ order.receiver }}</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td>{{ order.address }}</td>
            </tr>
            <tr>
                <th>Default Shipping Method:</th>
                <td>{{ shipping_method }}</td>
            </tr>
            <tr>
                <th>Default Payment Method:</th>
                <td>{{ payment_method }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Order Detail</h3>
        <ul>
            {% for product in product_list %}
                <li>
                    <a href="{{ product.get_absolute_url}}">{{ product }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no orders.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
