{% extends 'productinfo/base.html' %}

{% block title %}
    Order Product - {{ order_product }}
{% endblock %}

{% block content %}
    <h2>{{ order_product }}</h2>
    <ul class="inline">
    {% if perms.productinfo.change_order_product %}
        <li>
            <a href="{{ order_product.get_update_url }}" class="button button-primary">
                Edit OrderProduct</a></li>
        {% endif %}
    {% if perms.productinfo.delete_order_product %}
        <li><a href="{{ order_product.get_delete_url }}" class="button button-primary">
            Delete Product</a></li>
    {% endif %}
    </ul>
    <section>
        <table>
            <tr>
                <th>Order ID:</th>
                <td>{{ order_id }}</td>
            </tr>
            <tr>
                <th>Product:</th>
                <td><a href="{{ product_id.get_absolute_url}}">{{ product_id }}</a></td>
            </tr>
            <tr>
                <th>price:</th>
                <td>{{ sub_total }}</td>
            </tr>
            <tr>
                <th>quantity:</th>
                <td>{{ order_product.quantity }}</td>
            </tr>

        </table>
    </section>

{% endblock %}
