{% extends 'productinfo/base.html' %}

{% block title %}
    OrderProduct List
{% endblock %}

{% block content %}
    <h2>OrderProduct List</h2>
    <div>
    <a href="{% url 'productinfo_orderproduct_create_urlpattern' %}">
        Create New OrderProduct
    </a>
    </div>
    <ul>
        {% for orderproduct in orderproduct_list %}
        <li>
            <a href="{{ orderproduct.get_absolute_url }}">{{ orderproduct }}</a>
        </li>
        {% empty %}
        <li><em>There are currently no products in order available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}