{% extends 'productinfo/base.html' %}

{% block title %}
    Order List
{% endblock %}

{% block content %}
    <h2>Order List</h2>
    <div>
    {% if perms.productinfo.add_order %}
    <a href="{% url 'productinfo_order_create_urlpattern' %}" class="button button-primary">
        Create Order
    </a>
    {% endif %}
    </div>
    <ul>
        {% for order in order_list %}
        <li>
            <a href="{{ order.get_absolute_url }}">{{ order }}</a>
        </li>
        {% empty %}
        <li><em>There are currently no orders available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}

