{% extends 'productinfo/base.html' %}

{% block title %}
    Order Product - {{ orderproduct }}
{% endblock %}

{% block content %}
    <h2>{{ orderproduct }}</h2>

    <section>
        <table>
            <tr>
                <th>Order ID:</th>
                <td>{{ order_id }}</td>
            </tr>
            <tr>
                <th>Product:</th>
                <td><a href="{{ product_id.get_absolute_url}}">{{ product_id }}</a></td>
            </tr>
            <tr>
                <th>price:</th>
                <td>{{ orderproduct.price }}</td>
            </tr>
            <tr>
                <th>quantity:</th>
                <td>{{ orderproduct.quantity }}</td>
            </tr>

        </table>
    </section>

{% endblock %}
