{% extends 'productinfo/base.html' %}

{% block title %}
    Product - {{ product }}
{% endblock %}

{% block content %}
    <h2>{{ product }}</h2>
    <ul class="ezu-button-list">
        <li>
            <a href="{{ product.get_update_url }}" class="button button-primary">
                Edit Product</a></li>
        <li>
            <a href="{{ product.get_delete_url }}" class="button button-primary">Delete Product</a></li>
    </ul>
    <section>
        <table>
            <tr>
                <th>Product Name:</th>
                <td>{{ product.product_name }}</td>
            </tr>
            <tr>
                <th>Product Price:</th>
                <td>{{ product.product_price }}</td>
            </tr>
            <tr>
                <th>Stock Number:</th>
                <td>{{ product.stock_num }}</td>
            </tr>
            <tr>
                <th>Category:</th>
                <td>{{ category }}</td>
            </tr>
        </table>
    </section>

{% endblock %}
