{% extends 'productinfo/base.html' %}

{% block title %}
    Product List
{% endblock %}

{% block content %}
    <h2>Product List</h2>
    <div>
    <a href="{% url 'productinfo_product_create_urlpattern' %}" class="button button-primary">
        Create New Product
    </a>
    </div>
    <ul>
        {% for product in product_list %}
        <li>
            <a href="{{ product.get_absolute_url }}">{{ product }}</a>
        </li>
        {% empty %}
        <li><em>There are currently no products available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}