{% extends 'productinfo/base.html' %}

{% block title %}
    Shopping Cart - {{ shoppingcart }}
{% endblock %}

{% block content %}
    <h2>{{ shoppingcart }}</h2>
    <ul>
        <li>
            <a href="{{ shoppingcart.get_update_url }}">
                Edit ShoppingCart</a></li>
    </ul>
    <section>
        <table>
            <tr>
                <th>Username:</th>
                <td><a href="{{ customer_id.get_absolute_url}}">{{ customer_id }}</a></td>
            </tr>
            <tr>
                <th>Total Price:</th>
                <td>{{ shoppingcart.total_price }}</td>
            </tr>
            <tr>
                <th>Default Shipping Method:</th>
                <td>{{ shipping_method }}</td>
            </tr>
            <tr>
                <th>Default Payment Method:</th>
                <td>{{ payment_method }}</td>
            </tr>
            <tr>
                <th>Test total price:</th>
                <td>{{ total }}</td>
            </tr>
        </table>
    </section>
    <section>
        <h3>Cart Item</h3>
        <ul>
            {% for sc_item in sc_list %}
                <li>
                    <a href="{{ sc_item.get_absolute_url}}">{{ sc_item }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no items in shopping cart.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
